@media screen and (min-width: 668px) {
    .body,
    .body_carregando {
        max-width: 668px;
        margin: 0 auto;
        padding: 0;
    }
}

.imagens {
    height: auto;
    /* max-height: 400px; */
    width: 100%;
    /* background-color: #ec2525; */
    box-shadow: 0px 5px 5px -10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.imagem {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: red;
    object-fit: cover;
}

.voltar {
    height: 35px;
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    cursor: pointer;
}

.imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    padding: 0px 15px;
}

.container_infos {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.container_nome_desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
    /* background-color: red; */
}

.container_nome_desc>h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.containter_serve_preco {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.container_quantidade {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.quantidade {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 15px;
    font-size: 24px;
    margin-bottom: 30px;
}

.quantidade>button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #0077B6;
    color: #fff;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.container_observacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.container_observacoes>textarea {
    border: solid 1px #90E0EF;
    border-radius: 5px;
}




/* componentes da parte de loading */

.imagens_carregando {
    height: 400px;
    width: 100%;
    position: relative;
}

.imagem_carregando {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

.container_infos_carregando {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container_nome_desc_carregando {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

.container_nome_desc_carregando>h1 {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 9em;
    margin-top: 15px;
}

.container_nome_desc_carregando>p {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 100%;
}

.containter_serve_preco_carregando {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.containter_serve_preco_carregando>span {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 8em;
}

.containter_serve_preco_carregando>b {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 5em;
}

.container_quantidade_carregando {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.container_quantidade_carregando>b {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 7em;
}

.quantidade_carregando {
    width: 110px;
    display: flex;
    align-items: center;
    height: 30px;
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    gap: 15px;
    font-size: 24px;
    margin-bottom: 30px;
}

.container_observacoes_carregando {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.container_observacoes_carregando>b {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    width: 7em;
}

.container_observacoes_carregando>textarea {
    background: linear-gradient(90deg, #fff, #c9c9c9);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}