.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    /* background-color: #ececec; */
    padding: 50px 0px;
    position: relative;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foto_perfil {
    height: 200px;
    width: 200px;
    background-color: #000000;
    border-radius: 50%;
    border: 1px solid #0077B6;
}

.foto_perfil>img {
    width: 100%;
}

.perfil>h1 {
    color: #252525;
    font-size: 24px;
}

.funcionamento {
    font-size: 16px;
    color: #319a2f;
    text-decoration: underline;
}

.botao {
    background-color: #0077b6;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.whatsapp{
    position: absolute;
    width: 80px;
    right: 20px;
    cursor: pointer;
}