.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.modal h1 {
    margin-bottom: 17px;
    color: #03045E;
}

.container_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.quantidade {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 15px;
    font-size: 24px;
    margin-left: 20px;
}

.quantidade>button {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #0077B6;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.container_observacao{
    /* background-color: #dddddd; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
}

.container_observacao>h3{
    color: #03045E;
}

.container_observacao>textarea{
    border: solid 1px #0077B6;
    border-radius: 5px;
    resize: 'none';
    overflow: 'auto';
}

.total{
    display: flex;
    justify-content: space-between;
}

.container_botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container_botoes>button {
    height: 40px;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.trash{
    width: 25px;
}